<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Rpg-Dice</title>
    <style>
        body {
            margin: 0;
        }

        button[type='submit'] {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 60px;
        }

        .bg-orange {
            background-color: orange;
        }

        .bg-gray {
            background-color: gray;
        }

        .bg-green {
            background-color: green;
        }

        .bg-red {
            background-color: red;
        }

        .bg-blue {
            background-color: blue;
        }
    </style>
    <link href="./src/css/bootstrap.min.css" rel="stylesheet">

</head>


<body style="background-color: rgba(0, 0, 0, 0.212);">

    <form id="startgameform" style="display: block;">

        <div class="card" style="width: 30rem;margin: 20px;">
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <div class="row">

                        <div class="col-10">

                            <select class="form-select" name="classe1" aria-label="Default select example">
                                <option selected>Voleur</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <object data="./src/svg/voleur.svg" type="image/svg+xml" width="50px" height="50px">
                                Votre navigateur ne prend pas en charge les icônes SVG.
                            </object>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="row">

                        <div class="col-10">

                            <select class="form-select" name="classe2" aria-label="Default select example">
                                <option selected>Gardien</option>
                            </select>

                        </div>
                        <div class="col-2">
                            <object data="./src/svg/shield.svg" type="image/svg+xml" width="50px" height="50px">
                            </object>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="row">

                        <div class="col-10">

                            <select class="form-select" name="classe3" aria-label="Default select example">
                                <option selected>Combattant</option>


                            </select>
                        </div>

                        <div class="col-2"> <object data="./src/svg/combattant.svg" type="image/svg+xml" width="50px"
                                height="50px"></object>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="row">

                        <div class="col-10">

                            <select class="form-select" name="classe4" aria-label="Default select example">
                                <option selected>Healer</option>
                            </select>
                        </div>

                        <div class="col-2"> <object data="./src/svg/healer.svg" type="image/svg+xml" width="50px"
                                height="50px"></object>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="row">

                        <div class="col-10">

                            <select class="form-select" name="classe5" aria-label="Default select example">
                                <option selected>Mage</option>
                            </select>

                        </div>
                        <div class="col-2">
                            <object data="./src/svg/mage.svg" type="image/svg+xml" width="50px" height="50px"></object>
                        </div>
                    </div>

                </li>

            </ul>
        </div>

        <div class="row">

            <div class="col-5" style="margin: 10px;">

                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">Easy</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio2" value="option2"
                            checked>
                        <label class="form-check-label" for="inlineRadio2">Normal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="difficulty" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">Hard</label>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Choisi ton 1ier bonus</h5>
                        <p class="card-text">
                            Les bonus ne fonctionne pas pour l'instant
                        </p>
                        <div class="col-10">

                            <select class="form-select" name="bonus1" aria-label="Default select example">
                                <option selected>Bonus ez</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Choisis ton 2ième bonus</h5>
                        <p class="card-text">
                            Vous ne pouvez pas choisir le même bonus !
                        </p>
                        <div class="col-10">

                            <select class="form-select" name="bonus2" aria-label="Default select example">
                                <option selected>Bonus 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <button id="btnstartgame" type="submit">Start Game</button>

    </form>

    <div id="hud" style="display: none;z-index: 5;position: absolute; top: 0; left: 0; width: 100%; height: 100%;">



        <div class="">
            <div class="position-relative">
                <div style="width: 150px;height: 35px;" class="position-absolute top-0 start-50 bg-gray border border-danger">
                    <h4 style="color: black;position:relative;left: 30px;">Ennemy</h4>
                </div>
            </div>

            <div class="row flex-column">
                <div class="col">
                    <div id="titreclasse1" class="card wd-50 rounded-0" style="width: 15%">
                        <h5 class="mb-0 card-header">Classe1</h5>
                        <object data="./src/svg/voleur.svg" type="image/svg+xml" width="30" height="30">
                            Votre navigateur ne prend pas en charge les icônes SVG.
                        </object>
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-orange" style="width: 100%">10/10</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div id="titreclasse2" class="card wd-50 rounded-0" style="width: 15%">
                        <h5 class="card-header">classe2</h5>
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-gray" style="width: 100%">10/10</div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div id="titreclasse3" class="card wd-50 rounded-0" style="width: 15%">
                        <h5 class="card-header">classe3</h5>
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-green" style="width: 100%">10/10</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div id="titreclasse4" class="card wd-50 rounded-0" style="width: 15%">
                        <h5 class="card-header">classe4</h5>
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-red" style="width: 100%">10/10</div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div id="titreclasse5" class="card wd-50 rounded-0" style="width: 15%">
                        <h5 class="card-header">classe5</h5>
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-blue" style="width: 100%">10/10</div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="ennemydiv" class="row flex-column" style="position: relative;left: 600px">



        </div>


    </div>



    </div>


    <script src="/th/Three.js"></script>
    <script src="./src/js/oimo.js"></script>
    <script type="module" src="./src/js/rpgdice.js"></script>
    <script src="./src/js/bootstrap.min.js"></script>

</body>

</html>